{% extends "base.html" %}
{% block containercontent %}
	    <p class="lead">Welcome to Tweety.
			We are going to take you on a ride to a basic three-legged authentication flow for the twitter API.</p>
	    <div class="hero-unit">
			<p>To get started, we'll need you to authorize Tweety to access
			your Twitter account.
			<p>So what would you be able to do once you login : </p>
			<ol>
				<li>You will be able to Login. (Obviousy...Duh!)</li>
				<li>You can post a tweet directly.</li>
				<li>You can search on the basis of #hashtags, @mentions,
					and simple text. Plus, as a gift, we put in another button for you to have a look at your last 10 tweets. </li>
					<li>And yeah!... you would also be able to logout. (hahaha!)</li>
			</ol>
		</div>
		<p>Bammmm! Let's give it a shot!</p>
		<a href="/start" class="btn btn-large btn-success"><span class="fa fa-paper-plane"> </span> Take me In! </a>
{% endblock %}
